.chart {
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 4vh;
    width: 65%;
}
.chart span {
    /* You can modify the value below to change the distance between the percentage number and the bar */
    margin-left: 5px;
    color: #0179C2;
    font-weight: bolder;
}

.bar {
    /* You can modify the total time used for the animation here */
    animation: load 3s normal forwards;
    /* 
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D 
    */
    box-shadow: 0 10px 40px -10px #0179C2;
    
    border-radius: 100px;
    background: #0179C2;
    height: 90%;
    width: 0;
} 

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: var(--end-width);
    }
}