body {
    height: 100%
}

.buffer-1 {
    padding: 1%
}
#homepage {
    display: flex;
    flex-flow: column wrap;
	align-items: center;
    font-family: "aktiv-grotesk", sans-serif;
    color: #0179C2;
}

#homepage-logo {
    padding-top: 2.5%;
    padding-bottom: 2.5%
}

#welcome {
    font-size:3.2rem;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2%;
}

.trip-info {
    font-size:180%;
    font-weight:550;
    font-style: normal;
    border: 3.5px solid black;
    width: 45%;
    text-align:center;
    border-radius: 2%;
}

.trip-info-text {
    padding: 2%
}

.system-health {
    font-size: 180%;
    font-weight: 450;
    font-style: normal;
    border: 3.5px solid black;
    width: 45vw;
    height: 20vh;
    text-align: center;
    vertical-align: middle;
    border-radius: 2%;
}

.health-title {
    font-weight: 650
}

.health-body {
    display: flex;
    align-items: center;
}